[submodule "pm-client-vanilla"]
	path = pm-client-vanilla
	url = https://github.com/boesi/pm-client-vanilla
[submodule "pm-server-node-http"]
	path = pm-server-node-http
	url = https://github.com/boesi/pm-server-node-http
[submodule "pm-proxy-nginx"]
	path = pm-proxy-nginx
	url = https://github.com/boesi/pm-proxy-nginx
